body {
  background-color: #181221;
  color: white;
  font-family: VT323, monospace;
}
.container {
  max-width: 800px;
}
header{
  font-size: 4em;
  margin: 20px 20%;
  text-align: left;
}
h1 {
  font-size: 2em;
  margin: 30px 20%;
  text-align: right;
}
#search {
  margin-top: 20px;
  text-align: center;
}
i {
  color: #181221;
  left: 30px;
  position: relative;
  z-index: 2;
}
#bar {
  color: #181221;
  padding-left: 30px;
  text-align: center;
  width: 25%;
  z-index: 1;
}
button {
  text-align: left;
}
a {
  color: white;
}
.results {
  margin-top: 10%;
}
